<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "selenium">
    <test name= "filters">
        <classes>
            <class name="FiltersTest"/>
        </classes>
    </test>
    <test name="sort">
        <classes>
            <class name="SortingTest"/>
        </classes>
    </test>
     <test name="basket">
        <classes>
            <class name="BasketTest"/>
        </classes>
    </test>
</suite>